@model QLDPKS.Models.PhieuDatPhong

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PhieuDatPhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SDTLienHe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTLienHe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDatPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDatPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoVaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoVaTenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoVaTenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
