@model IEnumerable<QLDPKS.Models.PhieuDatPhong>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SDTLienHe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDatPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.HoVaTenNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SDTLienHe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhThucThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDatPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoVaTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoVaTenNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
