@model IEnumerable<QLDPKS.Models.PhieuDatPhong>

@{
    ViewBag.Title = "Danh Sách Phiếu Đặt Phòng";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">

<div class="card mt-3">
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container-fluid">
            <div class="row align-items-center">

                <ol class="breadcrumb align-content-md-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>

                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>

            </div>
        </div>
    </div>
    <div class="card-body">
        <p><a class="btn btn-dark" href="@Url.Action("Create")" role="button"><i class="fas fa-plus"></i> Thêm mới</a></p>
        <table id="PhanTrang" class="table table-bordered table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDTLienHe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayDi)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NhanVien.HoVaTenNV)
                    </th>

                    <th width="20%"></th>

                </tr>
            </thead>
            <tbody>
                @{ int stt = 1; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDTLienHe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDi)
                        </td>
                        <td>
                            @if (item.TinhTrang == 0)
                            {
                                <span>Phiếu Đặt Phòng Mới</span>
                            }
                            else if (item.TinhTrang == 1)
                            {
                                <span>Đang xác nhận</span>
                            }
                            else if (item.TinhTrang == 2)
                            {
                                <span>Đã hủy</span>
                            }
                            else if (item.TinhTrang == 3)
                            {
                                <span>Thất bại</span>
                            }
                            else if (item.TinhTrang == 4)
                            {
                                <span>Thành công</span>
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.KhachHang.HoVaTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NhanVien.HoVaTenNV)
                        </td>


                        <td class=" text-center">

                            <a href="@Url.Action("Detail", new { id = item.ID })" class="btn btn-outline-primary btn-sm"><i class="fas fa-folder"></i>View</a>
                            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-outline-info btn-sm"><i class="fas fa-pencil-alt"></i>Edit</a>
                            <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i>Delete</a>
                        </td>

                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#PhanTrang').DataTable({
                "language": {
                    "lengthMenu": "Số dòng _MENU_  trên trang ",
                    "zeroRecords": "Không tìm thấy!!!",
                    "info": "Trang  _PAGE_ của _PAGES_",
                    "infoEmpty": "Không có sẵn dữ liệu",
                    "infoFiltered": "(được lọc từ tổng _MAX_  dữ liệu)"


                }
            });
        });
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.js"></script>

}