@model QLDPKS.Models.PhieuDatPhong
@{
    ViewBag.Title = "Nhập Thông Tin Đặt Phòng";
}
<div class="card mt-3">
    <h5 class="card-header ">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Ngày Nhận Phòng")
                        @Html.EditorFor(model => model.NgayDen, new { htmlAttributes = new { @class = "form-control  col-md-12 text-center", type = "text", required = "required", onfocus = "this.type='date'", onmouseover = "this.type='date'", onclick = "this.type='date'", onblur = "this.type='text'", onmouseout = "timeFunctionLong(this)" } })
                        @Html.ValidationMessageFor(model => model.NgayDen, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Ngày Trả Phòng")
                        @Html.EditorFor(model => model.NgayDi, new { htmlAttributes = new { @class = "form-control  col-md-12 text-center", type = "text", required = "required", onfocus = "this.type='date'", onmouseover = "this.type='date'", onclick = "this.type='date'", onblur = "this.type='text'", onmouseout = "timeFunctionLong(this)" } })
                        @Html.ValidationMessageFor(model => model.NgayDi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.SDTLienHe)
                        @Html.EditorFor(model => model.SDTLienHe, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.SDTLienHe, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.HinhThucThanhToan)
                        @Html.DropDownListFor(model => model.HinhThucThanhToan, new SelectList(new[] {
                            new SelectListItem {Value =null ,Text ="-- Chọn --"},
                            new SelectListItem {Value ="0" ,Text ="Thanh toán tiền mặt khi nhận hàng"},
                            new SelectListItem {Value ="1" ,Text ="Thẻ ATM đăng ký Internet Banking (Miễn phí thanh toán)"},
                            new SelectListItem {Value ="2" ,Text ="Thanh Toán bằng thẻ quốc tế Visa, Master"}

                        }, "value", "text"), new { @class = "form-control col-md-12 text-center" })
                        @Html.ValidationMessageFor(model => model.HinhThucThanhToan, "", new { @class = "text-danger " })

                    </div>

                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-dark w-25">Tiếp Theo</button> hoặc @Html.ActionLink("Quay về trang chủ", "Index", "Home")
                </div>

            </form>
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function timeFunctionLong(input) {
            setTimeout(function () {
                input.type = 'text';
            }, 60000);
        }
    </script>
}