@model IEnumerable<QLDPKS.Models.Phong>
@{
    ViewBag.Title = "Đặt Phòng Admin";
    var cart = (List<QLDPKS.Models.DatPhongKS>)Session["cart"];
}

<div class="card mt-2">
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container-fluid">
            <div class="row align-items-center">

                <ol class="breadcrumb align-content-md-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>

                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>

            </div>
        </div>
    </div>
    <div class="card-body">
        @if (cart == null || cart.Count() < 0)
        {
            <span>Đặt phòng chưa có !</span>
        }
        else
        {
            <table class="table table-bordered table-hover table-sm">
                <tr class="text-center">
                    <th width="5%">STT</th>
                    <th>Hình ảnh</th>
                    <th>Tên Phòng</th>
                    <th>Đơn giá</th>
                    <th>Số Lượng Phòng</th>
                    <th width="10%">Xóa</th>
                </tr>
                @{ int stt = 1; }
                @foreach (var item in cart)
                {
                    <tr>
                        <td>@stt</td>
                        <td class="text-center"><img src="~/@item.phong.HinhAnhBia" width="150" /></td>
                        <td>@item.phong.TenPhong</td>

                        <td class="text-right">@String.Format("{0:N0}", item.phong.Gia) VND</td>
                        <td>@item.soNgay</td>
                        <td class="text-center">
                            <a href="@Url.Action("XoaKhoiDatPhong", "DatPhongAdmin", new { id = item.phong.ID })" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i>Delete</a>
                        </td>

                    </tr>
                    stt++;
                }

            </table>

            <p class="mt-3">
                <a href="@Url.Action("Create", "KhachHang")" class="btn btn-outline-warning"><i class="fas fa-money-check-alt fa-lg mr-3"></i>Khách Hàng Chưa Có Tài Khoản</a>
                <a href="@Url.Action("Index", "KhachHang")" class="btn btn-outline-success"><i class="fas fa-money-check-alt fa-lg "></i> Khách Hàng Đã Có Tài Khoản </a>
                <br />
                <a href="@Url.Action("DanhSachPhong", "Home")" class="btn btn-outline-info mt-2">Tiếp tục mua hàng</a>

            </p>
        }
    </div>
</div>