@model QLDPKS.Models.AlbumAnh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumAnh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumHinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumHinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
